/* Pop-up styling (journal) */
body {
    background-size: 12px 12px;
    background-image:
    linear-gradient(to right, rgba(0, 0, 0, .2), transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, .2), transparent 1px);
    background-color: #ededed;
}

.journal-header{
    width: 100%;
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}



.journal-header a{
    margin-right: 50px;
}

.journal-content{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.entry-col-l{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0;
}

.entry-col-r{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0;
}

.entry-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.entry-img img{
    width: 100%;
}

.entry-words{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: NectoMono, Courier, monospace;
    font-size: 0.8em;
    padding: 5% 10%;
    max-width: 600px;
}

.entry-words a{
    text-decoration: none;
    color: #0068FE;
}

.entry-footer{
    bottom: 2%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width: 576px){
    .journal-content{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }
}

/* Image placement */

#img-01-01{
    transform: rotate(15deg);
    width: 80%;
}

#vid-02-01{
    transform: rotate(-5deg);
}

#img-03-01{
    transform: rotate(3deg);
    width: 60%;
    opacity: 0.5;
}

#img-03-02{
    transform: rotate(-5deg);
}

#img-03-03{
    transform: rotate(3deg);
    border: 1px solid black;
}


#vid-04-01{
    transform: rotate(-3deg);
    border: 0.5px solid black;
}


#vid-05-01{
    transform: rotate(-3deg);
    border: 0.5px solid black;
}


#img-06-01{
    transform: rotate(-3deg);
}

#img-06-02{
    transform: rotate(5deg);
}

#img-06-03{
    transform: rotate(-1deg);
}


#img-07-01{
    transform: rotate(-1deg);
    border: 0.5px solid black;
}

#img-07-02{
    transform: rotate(2deg);
    border: 0.5px solid black;
}


#img-08-01{
    border: 1px solid black;
}


#img-09-01{
    transform: rotate(-3deg);
    border: 0.5px solid black;
}

#img-09-02{
    transform: rotate(4deg);
    border: 0.5px solid black;
}

#vid-09-01{
    transform: rotate(2deg);
    border: 0.5px solid black;
}

#vid-09-02{
    transform: rotate(-1deg);
    border: 0.5px solid black;
}


#img-10-01{
    transform: rotate(-1deg);
    border: 0.5px solid black;
}

#img-10-02{
    transform: rotate(-1deg);
    border: 0.5px solid black;
}

#img-10-03{
    transform: rotate(2deg);
    border: 0.5px solid black;
}


#img-11-01{
    transform: rotate(-3deg);
    border: 0.5px solid black;
}

#img-11-02{
    transform: rotate(2deg);
    border: 0.5px solid black;
}

#img-11-03{
    transform: rotate(2deg);
    border: 0.5px solid black;
}

#vid-11-01{
    transform: rotate(-1deg);
    border: 0.5px solid black;
}


#vid-12-01{
    transform: rotate(-1deg);
    border: 0.5px solid black;
}

#img-13-01{
    transform: rotate(-93deg);
    border: 0.5px solid black;
    width: 80%;
}

#img-13-02{
    transform: rotate(1deg);
    border: 0.5px solid black;
}

#img-13-03{
    transform: rotate(-2deg);
    border: 0.5px solid black;
}

#img-13-04{
    transform: rotate(3deg);
    border: 0.5px solid black;
}

#img-14-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
}


#img-15-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
}

#img-15-02{
    transform: rotate(-3deg);
    border: 0.5px solid black;
}

#img-15-03{
    transform: rotate(3deg);
    border: 0.5px solid black;
}

#img-15-04{
    transform: rotate(-3deg);
    border: 0.5px solid black;
}

#img-15-05{
    transform: rotate(3deg);
    border: 0.5px solid black;
}

#vid-15-01{
    transform: rotate(-3deg);
    border: 0.5px solid black;
}


#vid-16-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
}


#img-17-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
}

#vid-17-01{
    transform: rotate(-3deg);
    border: 0.5px solid black;
    width: 100%;
}

#vid-18-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
}

#vid-18-02{
    transform: rotate(-3deg);
    border: 0.5px solid black;
}

#img-18-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
}

#vid-19-01{
    transform: rotate(-2deg);
    border: 0.5px solid black;
}

#img-19-01{
    transform: rotate(1deg);
    border: 0.5px solid black;
}

#img-19-03{
    transform: rotate(-3deg);
    border: 0.5px solid black;
}

#img-19-04{
    transform: rotate(2deg);
}

#img-19-05{
    transform: rotate(-2deg);
    border: 0.5px solid black;
}

#vid-20-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
}

#vid-21-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
    width: 100%;
}

#vid-21-02{
    transform: rotate(-3deg);
    border: 0.5px solid black;
    width: 60%;
}

#vid-22-01{
    transform: rotate(-3deg);
    border: 0.5px solid black;
    width: 60%;
}

#vid-22-02{
    transform: rotate(3deg);
    border: 0.5px solid black;
    width: 60%;
}

#img-23-01{
    transform: rotate(-2deg);
    border: 0.5px solid black;
}

#vid-23-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
    width: 100%;
}

#img-24-01{
    transform: rotate(-2deg);
    border: 0.5px solid black;
}

#vid-24-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
    width: 100%;
}

#img-25-01{
    transform: rotate(2deg);
    border: 0.5px solid black;
}

#img-25-02{
    transform: rotate(-2deg);
    border: 0.5px solid black;
}

#vid-25-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
    width: 100%;
}

#img-26-01{
    transform: rotate(2deg);
    width: 100%;
}

#img-26-02{
    transform: rotate(-2deg);
    border: 0.5px solid black;
}

#vid-26-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
    width: 100%;
}

#vid-27-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
    width: 100%;
}

#vid-27-02{
    transform: rotate(-3deg);
    border: 0.5px solid black;
    width: 100%;
}

#img-28-01{
    transform: rotate(2deg);
    width: 100%;
}

#img-28-02{
    transform: rotate(-2deg);
    border: 0.5px solid black;
}

#vid-28-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
    width: 100%;
}

#vid-28-02{
    transform: rotate(-3deg);
    border: 0.5px solid black;
    width: 100%;
}

#vid-30-01{
    transform: rotate(3deg);
    border: 0.5px solid black;
    width: 60%;
}

#img-31-04{
    transform: rotate(-1deg);
    border: 0.5px solid black;
    width: 60%;
}

#img-31-03{
    transform: rotate(-2deg);
    width: 100%;
}